@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion {
    padding: v.$separacion 0;

    @include m.telefono{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        gap: 1rem;
    }

    button {
        margin: 0 0 1rem 0;
        background-color: v.$azul;
        border: none;
        color: v.$negro;
        padding: 0.75rem 1.5rem;
        text-transform: uppercase;
        cursor: pointer;

        transition: background-color 0.3s ease;

        &.activo,
        &:hover {
            background-color: v.$naranja;
            color: v.$blanco;
        }
    }
}
.ocultar {
    visibility: hidden;
}