@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {
    @include m.tablet{
        display: flex;
        
        justify-content: center;
        margin-bottom: 2rem;
        gap: 1rem;
    }

    button {
        background-color: v.$azul;
        border: none;
        color: v.$blanco;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        font-weight: v.$bold;
        text-transform: uppercase;
        
        transition: background-color 0.3s ease;

        &.actual,
        &:hover {
            background-color: v.$naranja; //TODO: Agregar variable $naranja en _variables.scss
            color: v.$blanco;
            cursor: pointer;
        }
        // puedes dar estilso difernes tes a actual y a hover si lo deseas
    }
}