@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .imagen {
        height: 30rem;
        background-image: url('../img/1.jpg');
        background-size: cover;
        background-position: center;
        @include m.tablet{
            height: auto;
        }
    }

    .app {
        padding: 3rem 0;
        width: 95%;
        margin: 0 auto  ;
        @include m.tablet{
             overflow: scroll;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        }
    }
}   

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    p {
         padding: 0;
        font-size: 2.4rem;
        color: v.$gris;
        span {
            font-weight: bold;
        }
    }
    .boton {
        background-color: v.$naranja;
        color: v.$blanco;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            cursor: pointer;
            background-color: v.$azul;
            transition: background-color 0.3s ease;
        }
    }
}


.barra-servicios {
    margin-bottom: v.$separacion/2;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
}